{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

{% include 'navbar.html' %}

<div class="recent-orders">

    <h2>Recent Orders</h2>

    <table>

        <tr>

            <th>ID</th>

            <th>Customer</th>

            <th>Total</th>

            <th>Payment</th>

            <th>Status</th>

            <th>Date</th>

        </tr>

        {% for order in recent_orders %}

        <tr>

            <td>#{{ order.id }}</td>

            <td>{{ order.full_name }}</td>

            <td>₹ {{ order.total_price }}</td>

            <td>{{ order.payment_method }}</td>

            <td>{{ order.order_status }}</td>

            <td>{{ order.created_at|date:"d M Y" }}</td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="6">

                No Orders Available

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

<section class="admin-dashboard">

    <h1>Admin Dashboard</h1>

    <div class="dashboard-grid">

        <div class="admin-card">
            <h2>{{ total_users }}</h2>
            <p>Total Users</p>
        </div>

        <div class="admin-card">
            <h2>{{ total_products }}</h2>
            <p>Total Products</p>
        </div>

        <div class="admin-card">
            <h2>{{ total_orders }}</h2>
            <p>Total Orders</p>
        </div>

        <div class="admin-card">
            <h2>₹ {{ revenue }}</h2>
            <p>Total Revenue</p>
        </div>

        <div class="admin-card">
            <h2>{{ pending_orders }}</h2>
            <p>Pending Orders</p>
        </div>

        <div class="admin-card">
            <h2>{{ completed_orders }}</h2>
            <p>Completed Orders</p>
        </div>

    </div>

</section>

{% include 'footer.html' %}

</body>
</html>