{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Shopping Cart | Clothify</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

{% include 'navbar.html' %}

<section class="cart-page">

    <div class="cart-container">

        <h1>🛒 Shopping Cart</h1>

        {% if cart_items %}

            {% for item in cart_items %}

            <div class="cart-card">

                <div class="cart-image">

                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">

                </div>

                <div class="cart-info">

                    <h2>{{ item.product.name }}</h2>

                    <p><strong>Category :</strong> {{ item.product.category }}</p>

                    <p><strong>Price :</strong> ₹ {{ item.product.price }}</p>

                    <p><strong>Quantity :</strong> {{ item.quantity }}</p>

                   <p><strong>Subtotal :</strong>₹ {% widthratio item.product.price 1 item.quantity %}</p>
                </div>

               <div class="cart-actions">

    <!-- Decrease Quantity -->

    <a href="{% url 'decrease_quantity' item.id %}" class="cart-btn">
        ➖
    </a>

    <!-- Current Quantity -->

    <span class="qty">
        {{ item.quantity }}
    </span>

    <!-- Increase Quantity -->

    <a href="{% url 'increase_quantity' item.id %}" class="cart-btn">
        ➕
    </a>

    <br><br>

    <!-- Remove Product -->

    <a href="{% url 'remove_from_cart' item.id %}" class="wishlist-btn">
        🗑 Remove
    </a>

</div>

            </div>

            {% endfor %}

            <div class="cart-summary">

                <h2>Total : ₹ {{ total }}</h2>

                <a href="#" class="buy-btn">
                    Proceed To Checkout
                </a>

                <a href="/" class="shop-btn">
                    Continue Shopping
                </a>

            </div>

        {% else %}

            <div class="wishlist-box">

                <h2>Your Cart is Empty 😔</h2>

                <p>Add products to start shopping.</p>

                <a href="/" class="shop-btn">
                    Continue Shopping
                </a>

            </div>

        {% endif %}

    </div>

</section>

{% include 'footer.html' %}

</body>
</html>
