<footer class="footer">

    <div class="footer-container">

        <div class="footer-section">
            <h2>Clothify</h2>

            <p>
                Premium Fashion Store for Men, Women and Kids.
            </p>
        </div>

        <div class="footer-section">
            <h3>Categories</h3>

            <p>Men Fashion</p>
            <p>Women Fashion</p>
            <p>Kids Fashion</p>
            <p>New Arrivals</p>
        
    <div class="social-links">
    <a href="https://instagram.com/instagram/">Instagram</a>
    <a href="https://facebook.com/facebook/">Facebook</a>
    <a href="https://youtube.com/youtube/">YouTube</a>
    <a href="https://web.whatsapp.com/whatsapp/">WhatsApp</a>
        </div>

     </div>
    </div>

</footer>