
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Clothify</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <h1>Clothify</h1>
        </div>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>

</body>
</html>