
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Clothify</title>
   {% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
   
</head>
<body>
      
   

<h1>Home Page</h1>


{% include 'footer.html' %}
   
    <div class="search-box">
    <input type="text" placeholder="Search Products">
    <button>Search</button>
    </div>

    </nav>
     <section class="hero">

    <h1>Welcome To Clothify</h1>

    <p>Discover Premium Fashion Collection</p>
    <button>Shop Now</button>

</section>

<div class="section-container">

    <div class="section-box">
        <h2>Men Collection</h2>
    </div>

    <div class="section-box">
        <h2>Women Collection</h2>
    </div>

    <div class="section-box">
        <h2>kids Collection</h2>
    </div>

    
</div>


<section class="new-arrivals">
<h1>New Arrivals</h1>
</section>

 <section class="featured">
<h1>Featured Products</h1>
</section>

<section class="men">
<h1>Men Collection</h1>
</section>

<section class="women">
<h1>Women Collection</h1>
</section>

<section class="offer">
<h1>Special Offers</h1>
</section>

<section class="reviews">
<h1>Customer Reviews</h1>
</section>

<section class="newsletter">
<h1>Subscribe Newsletter</h1>
</section>

{% include 'Contact.html' %}

<div class="social-links">

    <a href="https://instagram.com" class="social-btn">📷 Instagram</a>

    <a href="https://facebook.com" class="social-btn">📘 Facebook</a>

    <a href="https://youtube.com" class="social-btn">▶️ YouTube</a>

    <a href="https://web.whatsapp.com" class="social-btn">💬 WhatsApp</a>

</div>

</body>
</html>
