{% extends 'base.html' %}

{% block content %}

<!-- Kids Collection -->

<section class="products">

    <h2>Kids Collection</h2>

    <div class="product-grid">

        {% for product in products %}

        <div class="product-card">

            <a href="{% url 'product_detail' product.id %}">

                <img src="{{ product.image.url }}" alt="{{ product.name }}">

            </a>

            <h3>{{ product.name }}</h3>

            <h4>₹ {{ product.price }}</h4>

            <a href="{% url 'product_detail' product.id %}" class="view-btn">

                View Details

            </a>

            <a href="{% url 'add_to_cart' product.id %}" class="cart-btn">

                Add To Cart

            </a>

        </div>

        {% empty %}

        <h2>No Kids Products Available</h2>

        {% endfor %}

    </div>

</section>

{% endblock %}