  {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

<link rel="stylesheet"
href="{% static 'css/style.css' %}">

</head>
<body>
   
{% include 'navbar.html' %}

<div class="login-box">
    <h1>Login</h1>

<form method="POST">

{% csrf_token %}

<input
type="text"
name="username"
placeholder="Username">

<input
type="password"
name="password"
placeholder="Password">

<button type="submit">
Login
</button>

</form>

{% if error %}
<p>{{ error }}</p>
{% endif %}

</div>

{% include 'footer.html' %}
</body>
</html>