<nav class="navbar">

    <div class="logo">
        Clothify
    </div>

    <ul class="menu">

        <li><a href="/">Home</a></li>

        <li><a href="/men/">Men</a></li>

        <li><a href="/women/">Women</a></li>

        <li><a href="/kids/">Kids</a></li>

        <li><a href="/login/">Login</a></li>
        
        <li><a href="/register/">Register</a></li>
    


 {% if user.is_authenticated %}

<a href="/profile/">{{ user.username }}</a>

<a href="/logout/">Logout</a>

{% else %}

<a href="/login/">Login</a>

<a href="/register/">Register</a>

{% endif %}


    </ul>

    <div class="search-box">
        <input type="text" placeholder="Search Products">
    </div>

   
      {% if user.is_authenticated %}
{% url 'cart' %}
<span class="user-name">👋 {{ user.username }}</span>

<a href="{% url 'wishlist' %}">❤️ Wishlist</a>

<a href="{% url 'cart' %}">🛒 Cart</a>

<a href="{% url 'logout' %}">Logout</a>

{% else %}

<a href="{% url 'login' %}">Login</a>

<a href="{% url 'register' %}">Register</a>

{% endif %}


<a href="/profile/">
{{ user.username }}
</a>
