{% load static %}

<!DOCTYPE html>
<html>
<head>

<title>{{ product.name }}</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

{% include 'navbar.html' %}

<div class="product-detail">

    <div class="product-image">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>

    <div class="product-info">

        <h1>{{ product.name }}</h1>

        <h2>₹ {{ product.price }}</h2>

        <p>{{ product.description }}</p>

        <p><b>Category:</b> {{ product.category }}</p>

        <p><b>Stock:</b> {{ product.stock }}</p>

        <button class="cart-btn">Add To Cart</button>

        <button class="buy-btn">Buy Now</button>

    </div>

</div>

{% include 'footer.html' %}
<a href="#"></a>
</body>
</html>