{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Register</title>

<link rel="stylesheet"
href="{% static 'css/style.css' %}">
</head>

<body>

{% include 'navbar.html' %}

<div class="register-box">

<h1>Create Account</h1>

<form method="POST">

{% csrf_token %}

<input type="text"
name="username"
placeholder="Username">

<input type="email"
name="email"
placeholder="Email">

<input type="password"
name="password"
placeholder="Password">

<button type="submit">
Register
</button>

</form>

</div>

</body>
</html>