{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Wishlist | Clothify</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>

<body>

{% include 'navbar.html' %}

<section class="products">

    <h2>❤️ My Wishlist</h2>

    {% if wishlist_items %}

    <div class="product-grid">

        {% for item in wishlist_items %}

        <div class="product-card">

            <img src="{{ item.product.image.url }}"
                 alt="{{ item.product.name }}">

            <h3>{{ item.product.name }}</h3>

            <h4>₹ {{ item.product.price }}</h4>

            <a href="{% url 'product_detail' item.product.id %}"
               class="view-btn">

                View Details

            </a>

        </div>

        {% endfor %}

    </div>

    {% else %}

    <h2>Your Wishlist is Empty ❤️</h2>

    <br>

    <a href="/" class="shop-btn">
        Continue Shopping
    </a>

    {% endif %}

</section>

{% include 'footer.html' %}

</body>
</html>